@import url('https://fonts.googleapis.com/css2?family=Roboto|Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: #fff;
    font-size: 15px;
}

html {
    --scrollbarBG: #fff;
    --thumbBG: #90a4ae;
  }

body {
    background-color: #0f0f20;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Initial styles */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
/* Change color on hover */
.floating-button:hover {
  background-color: orange; /* Change to desired color */
}
/* Animation styles */
.rotate {
  transform: rotate(90deg);
}

.container {
    height: 550px;
    width: 390px;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 2vw 2vw 12vw 3vw #ccc;
    display: none;
}
.container.open {
  display: block;
}
.container .top-part {
    height: 100px;
    background: #FB6200;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .top-part i {
    font-size: 50px;
    cursor: pointer;
}
.top-part .agent-details {
    display: flex;
    align-items: center;
}
.container .top-part .agent-details img {
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #fff;
}
.top-part .agent-text {
    margin-left: 10px;
}
.agent-text h3 {
    font-size: 15px;
}
.agent-text p {
    font-size: 11px ;
}
.agent-text span {
    color: #0f0;
}
/* Chatt Section design */

    .container #message-section::-webkit-scrollbar {
    width: 10px;
  }
  
    .container #message-section {
    height: 32vw;
    padding: 0 2.5vw;
    overflow-y: auto;
    scrollbar-width: thin; /* Standard property */
    scrollbar-color: var(--thumbBG) var(--scrollbarBG); /* Standard property */
    /* Webkit scrollbar styling */
    scrollbar-track-color: var(--scrollbarBG); /* Standard property */
    scrollbar-thumb-color: var(--thumbBG); /* Standard property */
    /* Webkit prefix */
    -webkit-scrollbar-width: thin; /* Vendor-prefixed property */
    -webkit-scrollbar-color: var(--thumbBG) var(--scrollbarBG); /* Vendor-prefixed property */
    -webkit-scrollbar-track-color: var(--scrollbarBG); /* Vendor-prefixed property */
    -webkit-scrollbar-thumb-color: var(--thumbBG); /* Vendor-prefixed property */
}

.container #message-section::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
.container #message-section::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
.container #message-section #bot {
    position: relative;
    bottom: 0;
    min-height: 1.5vw;
    border: 0.15vw solid #777;
    background-color:  #0E011B;
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    padding: 1vw;
    margin: 1vw -1vw;
    margin-right: 3vw;
}
.container #message-section #user {
    position: relative;
    bottom: 0;
    min-height: 1.5vw;
    border: 0.15vw solid #777;
    background-color: #FB6200;
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    padding: 1vw;
    margin-right: -1vw;
  }
.container #message-section #user {
    border: 1.5px solid #2d0980;
    border-radius: 1.5vw 0vw 1.5vw 1.8vw;
    float: right;
  }
.container #message-section #user #user-response {
    color: #fff;
  }

.container #message-section .message {
    color: #000;
    clear: both;
    line-height: 1.2vw;
    font-size: 1.2vw;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: 2;
  }

 .container #input-section {
    z-index: 1;
    padding: 0 2.5vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 6vw;
    width: 100%;

  }

.container #input-section #input {
    color: #000;
    min-width: 0.5vw;
    outline: none;
    height: 4vw;
    width: 26vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 0.2vw;
  }
.container .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 0vw;
    margin-right: 0vw;
    padding: 0;
    position: relative;
    outline: none;
  }

.container .send .circle {
    position: relative;
    width: 4.8vw;
    height: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.container .send .circle i {
    font-size: 3vw;
    margin-left: -1vw;
    margin-top: 1vw;
}